@charset "UTF-8";

html {
    background-color: hsl(210,81%,17%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: hsl(40, 100%, 85%); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    line-height: 1.5em;
}

aside {
   color:azure;
}

header {
    border-bottom: 1px solid hsl(40, 50%, 60%);
    padding-bottom: 5px;
}

header, main, footer {
    background-color: beige; 
}

div {
    /* border: 2px solid red; */
    padding: 8px;
}

#why, #add {
    border-top: 1px solid hsl(40, 50%, 60%);
    padding: 6px;
}

header, main, #comment
{
    /* border: 2px solid green; */
    padding: 5px;
}

aside {
    margin: 0;
}

#qualities, #hobbies, #main_text {
    align-self: center;
}

#main_pic {
    width: 100%; 
    padding-left: 15px;
}

#hobbies, #qualities {
    display:grid;
}

body {
    display: grid;
    grid-template:
    "as_left1 header as_right1"
    "as_left2 main as_right2"
    "as_left3 main as_right3"
    "as_left4 footer as_right4";
    grid-template-columns: 15% 70% 15%;
}

header {grid-area: header;}
main {grid-area: main;}
footer {grid-area: footer;}
#qualities {grid-area: as_right2}
#hobbies{grid-area: as_right3;} 


#main_pic , #main_text {
  
    padding-top: 15px;
    padding-bottom: 15px;
}

#main_text {
    padding-left: 25px;
    margin: 5px;
}

#why , #add {
    border-bottom: 1px solid hsl(40, 50%, 60%);
    padding-bottom: 15px;
}

main {
    background-color: beige;
    display:grid;
    grid-template:  
    "a b b b"
    "c c d d";
    grid-template-columns: 2fr 3fr 3fr 2fr;
}

li::marker {
    font-weight: bold;
}

ul {
    list-style-type: square;
    padding-left: 25px; 
    padding-right: 10px;
    padding-bottom: 5px;
}

#hList {
    margin-left: 25px;
}

#qList {
    margin-left: 20px;
}

#main_pic {grid-area: a; }
#main_text {grid-area: b;}
#why {grid-area: c; }
#add {grid-area: d; }

h1 {
    font-style: italic;
    text-align: center;
}

#comment {
    text-align: center;
}

h2 {
    text-align: center;
    font-style: normal;
    padding: 5px;
}



footer ul {
    list-style-type: none;
    font-style: normal;
    text-align: center;
}

@media (max-width: 1100px) {

    body {
        display: grid;
        grid-template: 
        "header header"
        "main main"
        "as_right2 as_right3"
        "footer footer";
    }

    aside {
        background-color: hsl(210,81%,17%);
    }

    #qualities, #hobbies, #main_text {
        align-self: auto; 
    }

    #hobbies, #qualities {
        justify-self:center;
    }

    #why, #add {
        border-bottom: 0;
    }

}

@media (max-width: 800px) {  

    #main_pic {
        display: block;
        text-align: center;
        border-bottom: 0;
        padding-bottom: 0;
    }
    #main_text {
        padding-top: 0px;
    } 

    
    #why {
        border-bottom: 0;
    }

    main {
        display: grid;
        grid-template:
        "a"
        "b"
        "c"
        "d";
    }
}

